<!DOCTYPE html>
<html>
<head>

    <title>Brain Byte</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <!-- NAVBAR -->
    <nav>

        <h2 class="logo">
            💡 Brain Byte
        </h2>

        <div class="nav-links">

            <a href="/">Home</a>

            <a href="/dashboard">Dashboard</a>

            <a href="/login">Login</a>

            <a href="/signup">Signup</a>

        </div>

    </nav>

    <!-- HERO SECTION -->
    <section class="hero">

        <h1>
            Study Smarter <br>
            With AI
        </h1>

        <p>
            Upload notes, generate flashcards,
            quizzes and summaries instantly.
        </p>

        <a href="/dashboard">

            <button>
                Get Started →
            </button>

        </a>

    </section>

</body>
</html>
